---

# Para ejecutar este playbook:
#    ansible-playbook -i ../../equiposSMRD.ini MapeaNFSnas.yaml


# Simple playbook to return machine information (hostname, IP address, and MAC address)

- name: Crear compartida NFS en clientes
  hosts: all
  become: true
  gather_facts: no
  tasks:
    - name: Instalar nfs-common
      apt:
        name: nfs-common
        state: present
        update_cache: true

    - name: Montar carpeta NFS (clientes)
      command: umount /mnt/nasFast || true
      ignore_errors: yes
    - name: Crear punto de montaje en clientes
      file:
           path: /mnt/nasFast
           state: directory
           owner: root
           group: root
           mode: '0655'  #solo lectura para otros usuarios

    - name: Añadir línea a /etc/fstab (clientes)
      lineinfile:
           path: /etc/fstab
           line: "10.0.32.253:/mnt/DiscosRapidos/PruebaRapidosX3 /mnt/nasFast nfs defaults 0 0"
           state: present

    - name: Montar carpeta NFS (clientes)
      command: mount -a

